.hexa_grid {
    width:100%;
    /*border:1px solid orange;*/
    position:absolute;
}

.grid {
    position: relative;
    width: 100%;
    /* margin: 0 auto; */
    padding-left: 30%;
    border:1px solid green;
}

.clr:after{
    content: "";
    display: block;
    clear: both;
}

.grid li {
    list-style-type: none;
    position: relative;
    float: left;
    /*width: 27.85714285714286%;*/
    /*padding: 0 0 32.16760145166612% 0;*/
    width: 10.85714285714286%;
    padding: 0 0 12.16760145166612% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
    visibility: hidden;
}

.grid li * {
    visibility: visible;
}

.grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #CCC;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 127% 112%;
    background-position: 50% 50%;
    background-image: url('../../components/Iconator/icons/icon_red.png') !important;
}

.grid li:nth-child(2n+1) {
    /*margin: 0 1%;*/
    opacity:1;
}

.grid.row2 {
    /*border: 1px solid red;*/
    margin-top: -40px;
    position: absolute;
    /*-webkit-transform: translateX(120px);*/
    /*-ms-transform: translateX(120px);*/
    transform: translateX(3.6%);
}

.grid.row3 {
    border: 1px solid red;
    margin-top: 20px;
    position: absolute;
    /*-webkit-transform: translateX(120px);*/
    /*-ms-transform: translateX(120px);*/
    transform: translateX(7.2%);
}


/*#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {*/
    /*margin-top: -6.9285714285%;*/
    /*margin-bottom: -6.9285714285%;*/
    /*-o-transform: translateX(50%) rotate(-60deg) skewY(30deg);*/
    /*-moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);*/
    /*-webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);*/
    /*-ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);*/
    /*transform: translateX(50%) rotate(-60deg) skewY(30deg);*/
/*}*/

/*#grid li:nth-child(6n+4) {*/
    /*margin-left: 0.5%;*/
    /*opacity:0.5;*/
/*}*/

p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*.cls-1{*/
    /*fill:#ff6742;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 127% 112%;*/
    /*background-position: 50% 50%;*/
    /*background-image: url('../../components/Iconator/icons/icon_red.png') !important;*/
/*}*/
/*.cls-2{fill:#ffa8ff; cursor: move;}*/
/*.cls-2:hover{fill: #ff1af9; cursor: pointer;}*/

/*.cls-3{fill:#ffff60;}.cls-4{fill:#4bffff;}.cls-5{fill:#29d000;}*/

.shape1{
    cursor:pointer;
    fill: transparent;
    opacity:0;
    stroke:#000;
    stroke-miterlimit:20;
    stroke-width:5px;
}
.shape1:hover{
    opacity:1;
}
.cls-1{fill:#00FFFF; }
.cls-2{opacity:0.2;}
.cls-3{fill:#fff;}
.cls-4{opacity:0.15;}
.cls-5{fill:#272525;}

